body {
    background: rgb(143, 43, 43);
    color: rgb(143, 43, 43);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: white;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(54, 20, 20);
}

p {
    background: white;
    font-weight: bold;
    padding: 10px;
    border: 5px double rgb(54, 20, 20);
}

hr {
    color: white;
}