@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


:root {
    --accent: rgb(143, 43, 43);
    --accent-lt: rgb(255, 255, 255);
    --accent-dk: rgb(54, 20, 20);
    --gradient-bg: linear-gradient(69.7deg, rgb(134, 55, 55) 40%, rgb(74, 15, 15) 100.1%);
}

* { 
    padding: 0;
    margin: 0;
}

hr {
    margin: 25px 0px; /* y x */
    border: 5px dashed var(--accent-lt);
}

body {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    min-height: 100vh; /* viewport height */
    display: flex;
    flex-direction: column;
    background: var(--gradient-bg);
}

.page-content {
    flex: 1;
    padding: 10px;
}

h1 {
    color: white;
    font-style: oblique;
    font-family: 'Bitcount Grid Double';
    text-align: center;
    text-shadow: 2px 2px 0px var(--accent-dk);
    padding: 2%;

}

p {
    background: white;
    color: var(--accent);
    font-weight: bold;
    padding: 10px;
    border: 5px double var(--accent-dk);
}

hr {
    color: white;
}

ul, dl {
    border: 2px solid white;
    display: inline-block;
    padding: 20px;
}

.flex-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

h2 {
    border: 5px solid var(--accent-dk);
}

dt {
    background: white;
    padding: 5px;
    border-radius: 5px;
    color: var(--accent);
    display: inline-block;
}

footer {
    background: var(--accent-dk);
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 1%;
}